.custom-node {
  background-color: #333333 !important; /* Dark grey */
  color: #FFA500 !important; /* Orange */
}

.custom-child-node {
  background-color: #555555; /* Slightly lighter dark grey */
  color: #FFA500; /* Orange */
}

.custom-lineage {
  --lineage-link-color: #FFA500; /* Orange */
  --lineage-background-color: #333333; /* Dark grey */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333333; /* Dark grey */
}

::-webkit-scrollbar-thumb {
  background: #FFA500; /* Orange */
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8c00; /* Darker Orange */
}
